* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #3cdbc0;
  font-size: 16px;
}

ul {
  padding: 0;
}

/* HEADER */

.container {
  display: flex;
  flex-flow: column nowrap;
  font-family: "Rubik", sans-serif;
  
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: white;

  @media all and (min-width: 768px) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.logo {
  width: 155px;
  padding-top: 10px;
  text-align: center;

  @media all and (min-width: 768px) {
    padding: 20px;
    padding-right: 30px;
  }
}

.menu {
  margin: 0;

  @media all and (min-width: 768px) {
    padding-left: 30px;
  }
}

.item {
  display: inline-block;

  .link {
    padding: 10px 10px 13px 10px;
    text-decoration: none;
    color: #4a4a4a;
  }
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 250px;
  padding-top: 105px;
  color: #ffffff;
  text-align: center;
}
.title {
  width: 230px;
  font-size: 30px;

  @media all and (min-width: 760px) {
    font-size: 40px;
  }
}
