* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #3cdbc0;
  font-size: 16px;
}

ul {
  padding: 0;
}

/* HEADER */

.container {
  display: flex;
  flex-flow: column nowrap;
  font-family: "Rubik", sans-serif;
}

.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: white;
}

.logo {
  width: 155px;
  padding-top: 10px;
  text-align: center;
}

.menu {
  margin: 0;
  line-height: 100%;
}

.item {
  display: inline-block;
}

.item a {
  padding: 10px 10px 13px 10px;
  color: #4a4a4a;
  text-decoration: none;
}

/* MAIN */
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 105px;
  color: #ffffff;
  text-align: center;
}
.title {
  width: 230px;
  font-size: 30px;
}

/* MEDIAQUERIES */
@media all and (min-width: 760px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .title {
    font-size: 40px;
  }
  .menu {
    padding-left: 30px;
    /* line-height: 75px; */
  }

  .logo {
    padding: 20px;
    padding-right: 30px;
  }
}
